mule-event-demo/src/main/mule/read-headers-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-headers-demoFlow" doc:id="67249734-3c80-41b6-abd6-c0c725d66f15" >
		<http:listener doc:name="Listener" doc:id="942700e2-94fc-49f5-a574-a05a307c6c3e" config-ref="HTTP_Listener_config" path="read-headers" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="185f9237-735b-4431-b938-d1a9d4a10336" message="#[attributes.headers.transactionID]"/>
	</flow>
</mule>
